name: GitHub Actions Workflow

on:
  workflow_dispatch:

jobs:
  example-job:
    runs-on: ubuntu-latest

    steps:
      - name: Print a message
        run: echo "The job is running"
        if: ${{ startsWith(github.ref, 'refs/tags/v')}} # syntax like this is ref to this repo latest commit is a tag
        # always() -> always runs regardless of the previous step result
        # cancelled() -> if the previous step was cancelled
